@font-face {
	font-family: "p052b";
	src: url("assets/p052b.otf");	
}

html {	
		background-color: black;
}
body {
	width: 100vw;
	height: 99vh;
	margin: 0;
	padding: 0;
	background: url(assets/bgcs1.png) no-repeat, linear-gradient(90deg, rgb(0, 2, 5) 0.1%, black );
	background-size: auto 100vh;
	background-position: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
 body > * {
 	margin: 0;
 	padding: 0;
	font-family: p052b;
	color: white;
	text-align: center;
	cursor: default;
 }
h1 {
	font-size: 4em;
	margin: 0;
}
h2 {
	margin: 0;
	font-size: 2.5em;
	color: rgba(200, 220, 255, 0.3)
}
h3 {
		color: rgba(200, 220, 255, 0.2)
}
